{% extends 'base_home.html' %}
{% block head %}
    <style type="text/css">
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Verifikasi Iuran Kas</h1>
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Pembayaran Kas Warga Yang Belum Di Konfirmasi</h6>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Rumah PPN</th>
                    <th scope="col">Tahun</th>
                    <th scope="col">Bulan</th>
                    <th scope="col">Tgl Bayar</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in range(data|length) %}
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ data[i]['norumah'] }}</td>
                        <td>{{ data[i]['tahun'] }}</td>
                        <td>{{ data[i]['bulan'] }}</td>
                        <td>{{ data[i]['tanggal_bayar'] }}</td>
                        <td>
                            <button class="btn btn-sm btn-danger confirmbayar" data-idwarga="{{ data[i]['idwarga'] }}"
                                    data-bulan="{{ data[i]['bulan'] }}" data-tahun="{{ data[i]['tahun'] }}">
                                Konfirmasi
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                {% if data|length == 0 %}
                    <tr>
                        <td colspan="6">
                            <h2> Semua Iuran Sudah Confirmed</h2>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        const confirmbayar = Array.from(document.querySelectorAll('.confirmbayar'))
        confirmbayar.forEach(function (e) {
            e.addEventListener('click', () => {
                    window.location = `${window.origin}/verifikasi/iurankas_details?idwarga=${e.dataset.idwarga}&bulan=${e.dataset.bulan}&tahun=${e.dataset.tahun}`
                }
            )
        })
    </script>
{% endblock %}