{% extends 'base_home.html' %}
{% block head %}
    <style type="text/css">
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Verifikasi Warga Password Baru</h1>
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Request Warga Baru Ganti Password</h6>
        </div>
        <div class="card-body">
            {% if data | length == 0 %}
                <h3>Tidak Ada Request Ganti Passoword</h3>
            {% else %}
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat PPN</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(data|length) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ data[i].nama_depan }} {{ data[i].nama_belakang }}</td>
                            <td>{{ data[i].blok_ppn }}{{ data[i].no_ppn }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger confirmwarga"
                                        data-idwarga="{{ data[i]._id }}">Konfirmasi
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        const confirmwarga = Array.from(document.querySelectorAll('.confirmwarga'))
        confirmwarga.forEach(function (e) {
            const idwarga = e.dataset.idwarga
            e.addEventListener('click', () => {
                window.location = `${window.origin}/verifikasi/warga_ganti_password?idwarga=${e.dataset.idwarga}`
            })
        })
    </script>
{% endblock %}